form.textarea.pure-form
    fieldset.pure-group
        input.textarea__title.pure-input-1-2(type='text', placeholder='Title')
        textarea.textarea__input.pure-input-1-2(placeholder='Add your message here...')
    button.textarea__button.button-success.pure-button(type='submit') Publish
